* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
}

.logo {
    margin-bottom: 50px;
}

.logo-img {
    max-width: 310px;  /* Adjust the size as per your logo */
    height: auto;
}

.content h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1em;
    color: #888;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 30px;
}

.social-media p {
    font-size: 1.2em;
    color: #333;
}

.social-icon {
    font-size: 2em;
    color: #555;
    margin: 0 15px;
    text-decoration: none;
}

.social-icon:hover {
    color: #007BFF;
}

.social-icon i {
    transition: color 0.3s ease;
}

h1 {
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
